extends layout 

block layout-content 
    div(class="pane")
        div(class="left about")
            img(src="images/banana10.png", alt="bananas")
            h2 A breakfast essential 
            p Bananas pack essential breakfast nutrients such as potassium, fiber, Vitamin B, Vitamin A, Vitamin N, Vitamin A-2, Vitamin N-2, and Vitamin A-3! 9 out of 10 bribed nutritionalists agree that bananas are an essential to every American's breakfast!
        div(class="middle about")
            img(src="images/banana11.png", alt="bananas")
            h2 Bananas are fit for any meal
            p The versatility of bananas lets you put them anywhere you please! Put them in a dehydrator and make banana chips, put them in a sandwhich to make a banana sandwhich!
        div(class="right about")
            img(src="images/banana16.png", alt="bananas")
            h2 What can a banana do other than be eaten?
            p Our bananas have been genetically engineered to be not only nutritional and delicious, but also more slippery, aerodynamic, and can travel up to 50 meters per second. Our bananas are the perfectly engineered kart racing weapon, make all your foes on the track spinout while helping fuel your body!
            a(href="/order")
                span(class="btn") 
                    p Order now