extends layout 

block layout-content 
    // Big Main image
    div(class="cover")
        h1(class="cover-header") Shop Banana
        a(class="cover-arrow")
    // Row
    div(class="row")
        // Open to change these vvv
        div(class="row-item")
            img(src="images/banana3.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana6.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana5.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana13.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana14.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana15.png", alt="")
            a(href="/order") 
                div Order now
        div(class="row-item")
            img(src="images/banana12.png", alt="")
            a(href="/order") 
                div Order now