extends layout 

block layout-content 
    img(src="https://www.playhouse.rocks/images/monkey4.png", alt="monky", class="banner")
    h1(class="no") This page was not necessarry and I ran out of time to make it. I left the buttons on the navbar because it looks much better with them.