doctype html 
html 
    head 
        title Express Demo 
        link(rel="stylesheet", href="/css/site.css")
    
    body 
        nav 
            a(href="/") Home 
            if loggedInUser 
                a(href="/u/account") Account
                if loggedInUser.isAdmin
                    a(href="/u/admin", class="right") Admin
                a(href="/u/logout", class="right") Logout 
            else 
                a(href="/u/login") Login
                a(href="/u/register", class="right") Register 
        div(class="card")
            block layout-content
        footer 
            p Copyright Alex Bates &copy; 2016