extends layout 

block layout-content 
    h1 Login 


    span(class="error") #{errorMsg}
    form(action="/u/login", method="post") 
        label(for="username") Username
        input(type="text", name="username", placeholder="Username", value=username)
        br
        label(for="password") Password
        input(type="password", name="password", placeholder="Password", value=password)
        br
        input(type="submit", value="Login", class="submit")
    a(href="/u/register") Register